<script type="text/javascript">
	var flag = 0;

	function show(){
		
		if(flag == 0){
			document.getElementById("password").type = "text";
			flag = 1;
		}else {
			document.getElementById("password").type = "password"; 
			flag = 0;
		}
	}
</script>

<div class = "container" style = "width: 80%; margin: auto; margin-left: 40%; margin-right: 40%; margin-top: 10%;">

<h1>Login</h1>
<%= form_tag sessions_path do %>
	
	<p>
		<%= label_tag :username %><br />
		<%= text_field_tag :username, params[:username] %>
	</p>

	<p>
	
		<%= label_tag :password %><br />
		<%= password_field_tag :password %>
		<input type = "checkbox" id = "unmasked" onchange="show();" />
	</p>
	<%= submit_tag "Login", class: "btn btn-primary" %>
<% end %>
</div>