<h1>RETAILER</h1>

<%= form_for(@user) do |f| %>
  Product: <%= f.select :product, [['Smart Eload 15],['Smart Eload 20],['Smart Eload Economy(P30)'],['Smart Eload 50'],['Smart Eload Regular(P60)'],['Smart Eload 100'],['Smart Eload Extra(P115)'],['Smart Eload 200'],
  ['Smart Eload 250'],['Smart Eload 300'],['Smart Eload 500'],['Smart Eload 1000']] %> <br />
  Quantity: <%= f.text_field :product %> <br />
  Buyer's Number: <%= f.text_field :product %> <br />
  Option: <%= f.text_field :product %> <br />
<%= f.button :Submit %> <br />

<%= link_to 'Back', '/index.html' %>
<% end %>
