<h1>RETAILER</h1>

<%= form_for(@user) do |f|%>
	<table>
		<tr>
			<td>Product</td>
			<td><%= select_tag 'product_code', options_for_select(@products.collect{ |f| [f.product_name, f.id] })%></td>
		</tr>
		<tr>
			<td>Mobile No.</td>
			<td><%= %></td>
		</tr>
		<tr>
			<td>Product</td>
			<td><%= %></td>
		</tr>				
	</table>
<% end %>
<%= link_to 'Back', '/index.html' %>

