
<br/><br/>
<h1 style = "text-align: center; margin-left:">RETAILER</h1>
<p id = "notice" style = "text-align: center; margin-left:"><%= notice %></p>
<br/><br/>

<div style = "margin-left: 30%; margin-right: 30%; width: 80%;">

<%= form_for @transaction, :url => {:action => :report} do |f|%>
	<table>
		<tr>
			<td><label>Product</label>&emsp;&emsp;</td>
			<td><%= select_tag :product_code, options_for_select(@products.collect{ |f| [f.product_name, f.product_code]} ,{:class => "btn-btn"})%><br/><br/>
			</td>
		</tr>
		
		<tr>
			<td><label>Buyer's No.</label>&emsp;&emsp;</td>
			<td><%= text_field_tag :phone_number, nil, class: "form-control" %><br/></td>
		</tr>
		<tr>
			<td><label>Quantity</label>&emsp;&emsp;</td>
			<td><%= text_field_tag :quantity, nil, class: "form-control"  %><br/></td>
		</tr>				
		<tr>
			<td><label>Others</label>&emsp;&emsp;</td>
			<td><%= text_field_tag :others, nil, class: "form-control"  %><br/></td>
		</tr>				
		
		<tr>
			<td></td>
			<td><%= submit_tag "Sell product", class: "form-control btn btn-primary"%></td>
		</tr>
	</table>
<% end %>
<div>



</div>
<br/>
</div>

