<% if @user != nil %>

	<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
		<ul class="nav navbar-nav navbar-fixed-top">
			<li class="<%= 'active' if params[:action] == 'index' %> nav navbar navbar-right" style = "margin-right: 1%;">
					<table style = "margin-top:10%;">
						<tr>
							<td>
								<%= @acname %>&emsp;|&emsp;
							</td>
							<td>
								<%= link_to "", "/logout.do", class: "glyphicon glyphicon-log-out", data: {confirm: 'Are you sure?'}, title: 'Logout', 'data-toggle' => 'tooltip', 'data-placement' => 'left' %>
							</td>
						</tr>
					</table>
			</li>
		</ul>
	</nav>
	<br/>

	<% if @account != 'retailer' %>

		<div class = "container-fluid col-md-12" style = "margin-top: 3%;">
			<div class = "col-md-2">
				<ul class="nav navbar navbar-fixed-left">
					<li><%= link_to 'Register new account', ''%></li>
					<li><%= link_to 'View All subscribers', ''%></li>
					<li><%= link_to 'Change Password', '' %></li>
				</ul>
			</div>
			<div class = "col-md-10">
				<table class = "col-md-12">
					<tr>
						<td>
							#
						</td>
						<td>
							Username
						</td>

						<td>
							Balance Info
						</td>
						<td>
							User Info
						</td>
						<td>Transaction Report</td>
					</tr>
					<% x = 1 %>
					<% @clients.each do |f| %>
						<% if f.account_type == 'retailer' %>
						<tr>
							<td><%= x %></td>
							<td><%= f.username %></td>
							<td><%= link_to 'Balance Info', "#" %></td>
							<td><%= link_to 'User Info', "/#{f.id}/view" %></td>
							<td><%= link_to 'View Transaction', '#' %></td>
							<% x += 1 %>
						</tr>
						<% end %>
					<% end %>
				</table>
			</div>
			
		</div>

	<% else %>
		<br />
		<%= render "retailer" %>

		<!-- table>
		  <thead>
		    <tr>
		      <th>Product code</th>
		      <th>Phone number</th>
		      <th>Quantity</th>
		      <th>Other</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @transactions.each do |transaction| %>
		      <tr>
		        <td><%= transaction.product_code %></td>
		        <td><%= transaction.phone_number %></td>
		        <td><%= transaction.quantity %></td>
		        <td><%= transaction.other %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table-->

<br>

	<% end %>

<% else %>
	<div class="dialog">
    	<div>
      		<h1>The page you were looking for doesn't exist.</h1>
      		<p>You may have mistyped the address or the page may have moved or you don't have authority to access this page.</p>
    	</div>
    	<p>If you are the application owner check the logs for more information.<%= link_to 'return to homepage', '/index.html' %></p>

  	</div>
  	<%= @users_id %>
<% end %>