<<<<<<< HEAD

=======
<<<<<<< HEAD
<%= render "new" %>
=======
>>>>>>> 19b3d439db50b469d416cde8ef0d119a284f9558
<h1>Create Accounts</h1>
<%= form_for @user do |f| %>
	
	<% if @user.errors.any? %>
		<div class = "error_messages" >
			<h2>Form is invalid</h2>

			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<!-- --------------------------------------------------------------- -->	
<br/>
<table>
	<tr>
		<td>&emsp;Username</td>
		<td>&emsp;<%= f.text_field :username %></td>
	</tr>

	<tr>
		<td>&emsp;</td>
		<td>&emsp;</td>
	</tr>

	<tr>
		<td>&emsp;Password</td>
		<td>&emsp;<%= f.password_field :password %></td>
	</tr>

	<tr>
		<td>&emsp;</td>
		<td>&emsp;</td>
	</tr>

	<tr>
		<td>&emsp;Confirm Password&emsp;</td>
		<td>&emsp;<%= f.password_field :password_confirmation %></td>
	</tr>

	<tr>
		<td>&emsp;</td>
		<td>&emsp;</td>
	</tr>

	<tr>
		<td></td>
	 	<td>&emsp;<%= f.submit 'Signup', class: 'btn btn-success' %></td>
	</tr>

	<tr>
		<td>&emsp;</td>
		<td>&emsp;<%= f.hidden_field(:account_type, :value => "retailer") %></td>
	</tr>
	
	




</table>
<% end %>
<<<<<<< HEAD

=======
>>>>>>> 3787111cb4d1e8e15bf51348d9909c0c01af0740
>>>>>>> 19b3d439db50b469d416cde8ef0d119a284f9558
