	
<div align = "center">
	<h1>Account Details</h1>
	<table>
		<tr>
			<td>Username: &emsp;<%= @user.username %><br/></td>
		</tr>
		<tr>
			<td>Account Type: &emsp;<%= @user.account_type %><br/></td>
		</tr>
		<tr>
			<td>
				<% if session[:username] != nil %>
					<%= link_to 'Login', '/dashboard' %>
				<% else %>
					<%= link_to 'Login', '/login.do' %>
				<% end %>
			</td>
			<td>
				<%= link_to "Back to Home", "" %>
			</td>
		</tr>
	</table>
</div>