<p id="notice"><%= notice %></p>
<div class = "container" align="center">
<h1>Transactions</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Product code</th>
      <th>Phone number</th>
      <th>Quantity</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.product_code %></td>
        <td><%= transaction.phone_number %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.other %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

