<p id="notice"><%= notice %></p>

<p>
  <strong>Product code:</strong>
  <%= @transaction.product_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @transaction.phone_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Other:</strong>
  <%= @transaction.other %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
