<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><label>Product Name</label>&emsp;&emsp;</td>
      <td><%= f.text_field :product_name, class: "form-control" %></td>
    </tr>

    <tr>
      <td><label>Product Code</label></td>
      <td>&emsp;<%= f.text_field :product_code, class: "form-control" %></td>
    </tr>

    <tr>
      <td><%= f.label :retailer_price %></td>
      <td>&emsp;<%= f.text_field :retailer_price, class: "form-control" %></td>
    </tr>

    <tr>
      <td><%= f.label :original_price %></td>
      <td>&emsp;<%= f.text_field :original_price, class: "form-control" %></td>
    </tr>

    <tr>
      <td><%= f.label :product_type %></td>
      <td>&emsp;<%= f.text_field :product_type, class: "form-control" %></td>
    </tr>

    <tr>
      <td>&emsp;</td>
      <td><%= f.submit class: "btn btn-primary" %></td>
    </tr>

  </table>
<% end %>
