
  <table>
        <tr>
          <td>
              <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
                <div class="container-fluid">

                <ul class="nav navbar-nav navbar-fixed-top">
                  <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to "eBiz", "/index.html" %></li>
                  <li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to "ABOUT", "/about" %></li>
                  <li class="<%= 'active' if params[:action] == 'support' %>"><%= link_to "FAQ", "" %></li>
                  <li class ="<%= 'active' if params[:action] == 'products' %>"><%= link_to "PRODUCTS", "/offers" %></li>
                  <li><%= link_to "WHERE TO BUY", "" %></li>
                  <li class = "navbar-right" style = "margin-right:  6%;">
                    <%= form_tag sessions_path do %>
                    <table style = "margin-top: 2%;">
                      
                      <tr>
                       
                        <td>
                          <%= text_field_tag :username, nil, placeholder: 'Username', class: "form-control input-sm"%>
                        </td>
                        <td>&emsp;</td>
                        <td>
                          <%= password_field_tag :password, nil, placeholder: 'Password', class: "form-control input-sm" %>
                        </td>
                        <td>&emsp;</td>
                        <td>
                          <%= submit_tag 'Login', class: "btn btn-primary" %>
                        </td>
      

                        <td>&emsp;</td>
                      </tr>
                      
                    </table>
                    <% end %>
                    

                  </li>
                  <li class = "navbar-right dropdown" style = "margin-right:  -35%;">
                    <%= render "users/new" %>
                    
                    
                  </li>                  
                </ul>  
              </div>
            </nav>
          </td>
        </tr>
        <tr>
          <td>
            &emsp;
          </td>
        </tr>
        <tr>
          <td>
            &emsp;
          </td>
        </tr>
        <tr>
          <td>
            &emsp;
          </td>
        </tr>
        <tr>
          <td>
            <% if params[:action] != "about" %>
              <table>
                <tr>
                  <td>Updates Bulletin&emsp;</td><td><marquee>New Smart Call and Text promo! 6 days unli call and text to all networks for only 150php!</marquee></td>
                </tr>
              </table>
            <% end %>
          </td>
        </tr>
      </table>
