<table>
	<tr>
		<td>
			<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
				<div class="container-fluid">


					<ul class="nav navbar-nav navbar-fixed-top">
						<li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to "HOME", "/index.html" %></li>
						<li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to "ABOUT", "/about" %></li>
						<li class="<%= 'active' if params[:action] == 'support' %>"><%= link_to "SUPPORT", "" %></li>
						<li class = "dropdown">
					   		<a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS</a>
				        		
				     		<ul class="dropdown-menu" role="menu">
						    	<li>
							  		<%= link_to "Top-Sellers", "" %>
						    	</li>
						    	<li>
						      		<%= link_to "Recent-Products", "" %>
						    	</li>       
				        	</ul>
				    	</li>
						<li><%= link_to "WHERE TO BUY", "" %></li>
						<% if @user == nil then %>
							<li class = "navbar-right" style = "margin-right:  2%;">
								<%= form_tag sessions_path do %>
								<table style = "margin-top: 2%;">
									<tr>
										<td>
											<%= text_field_tag :username, params[:username], placeholder: 'Username', class: "form-control input-sm"%>
										</td>
										
										<td>&emsp;</td>
										<td>
											<%= password_field_tag :password, nil, placeholder: 'Password', class: "form-control input-sm" %>
										</td>
										<td>&emsp;</td>
										<td>
											<%= submit_tag 'Login', class: "btn btn-primary" %>
										</td>
										<td>&emsp;</td>
										<td>
											<%= link_to 'Signup', "/signup.php", class: "btn btn-primary" %>
										</td>
									</tr>
								</table>
								<% end %>
							</li>
						<% else %>
							<li class = "navbar-right" style = "margin-right:  2%; margin-top: 1%;">
								<table>
									<tr>
										<td>
											Welcome <%= @user %>!
										</td>
										<td>
											&emsp;|&emsp;
										</td>
										<td>
											<%= link_to 'Logout', '/logout.do' %>
										</td>
									</tr>
								</table>
							</li>
						<% end %>

					</ul>
					
				</div>
			</nav>
		</td>
	</tr>
	<tr>
		<td>
			&emsp;
		</td>
	</tr>
	<tr>
		<td>
			&emsp;
		</td>
	</tr>

	<tr>
		<td>
			&emsp;
		</td>
	</tr>
	<tr>
		<td>
			<table  class = "col-md-12">
				<tr>
					<td>Updates Bulletin&emsp;</td><td><marquee>The Quick Brown Fox Jumps over the Lazy Dog.</marquee></td>
				</tr>
			</table>
		</td>
	</tr>


</table>