<table>
  <tr>
    <td>
      <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
        <div class="container-fluid" >

          <ul class="nav navbar-nav navbar-fixed-top">
            <li class="<%= 'active' if params[:action] == 'index' %>">
              <%= link_to "eBiz", "/index.html" %>
            </li>
            <li class ="<%= 'active' if params[:action] == 'products' %>">
              <%= link_to "PRODUCTS", "/offers" %>
            </li>
             <li class="<%= 'active' if params[:action] == 'about' %>">
              <%= link_to "ABOUT", "/about" %>
            </li>
            <li class="navbar-right" style="margin-right: 2%;">
              <ul class="nav navbar-nav navbar-right">
              <li  style="margin-top: 0px;"><%= render "sessions/new" %></li>
              <li  style = " margin-top: 8px;">
                <div class="dropdown">
                  <div class="btn btn-primary dropdown-toggle container-fluid"  type="button" data-toggle="dropdown">Sign up</div>
                  <ul class="dropdown-menu">
                    <li><%= render "users/new" %></li>
                  </ul>
                </div>
              </li>
              </ul> 
            </li>                 
          </ul>  
        </div>
      </nav>
    </td>
  </tr>
  <tr>
    <td>
      &emsp;
    </td>
  </tr>
  <tr>
    <td>
      &emsp;
    </td>
  </tr>
  <tr>
    <td>
      &emsp;
    </td>
  </tr>
  <tr>
    <td>
      <% if params[:action] != "about" %>
        <table>
          <tr>
<<<<<<< HEAD
            <td>Updates Bulletin&emsp;</td><td>
              <marquee>
                <% @announce.each do |a| %>
                  <%= a %>
                <% end %>
              </marquee></td>
=======
            <td>Updates Bulletin&emsp;</td><td><marquee>Try out the new RPG Game Kings Raid! Download now. Available at playstore.</marquee></td>
>>>>>>> 2ee69f8330499de988b627cc22ac8c83bf0a6e1a
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>
