<div class="well">
	<table>
		<thead>
			<tr>
				<td colspan="3"><h1>Create Announcement</h1></td>
			</tr>
		</thead>
		<%= form_tag('/sites') do%>
		<tbody>
			<tr>
				<td>Title</td>
				<td>&emsp;</td>
				<td><%= text_field_tag :title, nil, placeholder: 'Title', class: "form-control input-md" %></td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>&emsp;</td>
				<td><%= text_area_tag :content, nil, placeholder: 'Content', class: "form-control" %></td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
			</tr>
			<tr>
				<td>Web URL</td>
				<td>&emsp;</td>
				<td><%= text_field_tag :Web_URL, nil, placeholder: 'Web URL', class: "form-control" %></td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>&emsp;</td>
				<td><%= text_field_tag :author, nil, placeholder: 'Author', class: "form-control" %></td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
				<td><%= text_field_tag :attachment, nil, placeholder: 'Attachment', class: "form-control" %></td>
			</tr>
			<tr>
				<td></td>
				<td>&emsp;</td>
			</tr>
			<tr>
				<td>&emsp;</td>
				<td><%= submit_tag "Submit", class: "btn btn-primary" %></td>
			</tr>
			<tr>
				<td>
				</td>
				<td></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>

<%= link_to "Back to Home", "/index.html" %>
