<h1>Create Announcement</h1>
<%= form_tag() do%>
	<table>
		<tr>
			<td>
				Title
			</td>
			<td>
				&emsp;<%= text_field_tag :title %><br/>
			</td>
		</tr>

		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>
				Content
			</td>
			<td>
				&emsp;<%= text_area_tag :content%>
		</tr>
		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>
				Web URL
			</td>
			<td>
				&emsp;<%= text_field_tag :Web_URL%>
		</tr>

		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>
				Author
			</td>
			<td>
				&emsp;<%= text_field_tag :Web_URL%>
		</tr>

		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>
				Attachment
			</td>
			<td>
				&emsp;<%= text_field_tag :attachment%>
		</tr>
		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>

			</td>
			<td>
				&emsp;<input type = "submit" value = "Create Announcement"/>
			</td>
		</tr>
	</table>
<% end %>
<table>
	<tr>
		<td>
			<%= link_to "Back to Home", "/index.html" %>
		</td>
		<td></td>
		<td></td>
	</tr>
</table>
