<div class = "container" align="center">

<table class="table table-bordered" align="center">
	<thead align="center">
		<tr>
			<td><strong><h1>Postpaid</h1></strong></td>
			<td><strong><h1>Prepaid</h1></strong></td>
			<td><strong><h1>Broadband</h1></strong></td>
			<td><strong><h1>Online Games</h1></strong></td>
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>test test test test test</div>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>test test test test test</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>test test test test test</div>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>test test test test test</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>test test test test test</div>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>test test test test test</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>test test test test test</div>
				<div><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>test test test test test</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

