<div class = "container" align="center">

<table class="table table-bordered" align="center">
	<thead align="center">
		<tr>
			<td><strong><h1>Postpaid</h1></strong></td>
			<td><strong><h1>Prepaid</h1></strong></td>
			<td><strong><h1>Broadband</h1></strong></td>
			<td><strong><h1>Online Games</h1></strong></td>
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td>
				<div><%= link_to image_tag("digitel.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>Digitel</div>
				<div><%= link_to image_tag("starhub.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>StarHub</div>
				<div><%= link_to image_tag("vodafone.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Vodafone</div>
				<div><%= link_to image_tag("wt.jpg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>WiTribe</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("smart.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>Smart</div>
				<div><%= link_to image_tag("globe.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Glboe</div>
				<div><%= link_to image_tag("pldt.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>PLDT</div>
				<div><%= link_to image_tag("bayan.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Bayan Telecommunications</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("vm.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>Virgin Media</div>
				<div><%= link_to image_tag("dream.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Dream Satellite</div>
				<div><%= link_to image_tag("sky.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Sky Broadband</div>
				</div>
			</td>
			<td>
				<div><%= link_to image_tag("gg.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></div>
				<div>Garena</div>
				<div><%= link_to image_tag("cc.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Cherry Credits</div>
				<div><%= link_to image_tag("lu.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Leven UP Games</div>
				<div><%= link_to image_tag("steam.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Steam</div>
				<div><%= link_to image_tag("ran.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Ran Online</div>
				<div><%= link_to image_tag("gameclub.jpg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Game Club</div>
				<div><%= link_to image_tag("blizzard.jpeg", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%>
				<div>Blizzard Entertainment</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

